# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/

# Design assets (local reference only)
design/

# macOS
.DS_Store
**/.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
